<div *ngIf="paginatedEmployees$ | async as paginatedEmployees">
    <div *ngFor="let employee of paginatedEmployees.items">
        <div class="card">

            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                        </figure>
                    </div>

                    <div class="media-content">
                        <p class="title is-4">{{employee.lastName}} {{employee.name}} </p>

                        <p class="subtitle is-6">{{employee.email}}</p>
                    </div>
                </div>
            </div>

            <footer class="card-footer">
                <div class="columns">
                    <div class="column is-half">
                        <div class="buttons">
                            <button class="button is-primary is-rounded" type="submit">Edit</button>
                        </div>
                    </div>
                    <div class="column is-half">
                        <div class="buttons">
                            <button class="button is-danger is-rounded" type="submit"
                                (click)="deleteEmployee(employee.id)">Delete</button>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>