@import "bulma/css/bulma.css";

.menu {
  padding-top: 1em;
  height: 100%;
  background-color: #17212b;

  .menu-list a {
    color: white;
  }

  .menu-list a:hover {
    background-color: #2d5986;
  }
}
