<aside class="menu">
    <ul class="menu-list">
        <li>
            <a [routerLink]="['/trips/all']">
                Trips
            </a>
            <ul>
                <li>
                    <a [routerLink]="['/trips/create']">
                        Create trip
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/trips/approved']">
                        Approved trips
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="menu-list">
        <li>
            <a [routerLink]="['/employees/all']">
                Employees
            </a>
            <ul>
                <li>
                    <a [routerLink]="['/employees/create']">
                        Create employee
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>