@import "bulma/css/bulma.css";

.my-container {
  background-color: #0e1621 !important;
  min-height: 55em;

  .menu-side {
    height: 55em;
    width: 15%;
    float: left;
  }

  .ribbon {
    width: 85%;
    float: left;
    padding: 1em 4em;
  }
}

footer {
  height: 3em !important;
  background-color: #182533 !important;
}
