<div class="columns">
    <div class="column is-half">
        <form [formGroup]="createEmployeeForm" (ngSubmit)="onSubmit()">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input  is-rounded" type="text" formControlName="name">
                </div>
            </div>

            <div class="field">
                <label class="label">Last name</label>
                <div class="control">
                    <input class="input is-rounded" type="text" formControlName="lastName">
                </div>
            </div>

            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                    <input class="input is-rounded" type="email" placeholder="example@gmail.com"
                        formControlName="email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Phone</label>
                <div class="control">
                    <input class="input is-rounded" type="text" placeholder="380974561236" formControlName="phone">
                </div>
            </div>

            <div class="field">
                <label class="label">Age</label>
                <div class="control">
                    <input class="input is-rounded" type="number" max="80" formControlName="age">
                </div>
            </div>

            <div class="field">
                <label class="label">Date of birth</label>
                <div class="control">
                    <input class="input is-rounded" type="date" formControlName="dateOfBirth">
                </div>
            </div>

            <div class="buttons">
                <button class="button is-info is-rounded" [routerLink]="['/employees/all']">Back</button>

                <button class="button is-primary is-rounded" type="submit">Create</button>
            </div>
        </form>
    </div>
</div>